# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
*.egg-info/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
